------- PROPERTY OF --------
██╗███╗░░░███╗░█████╗░███╗░░██╗██╗██╗░░░░░░█████╗░
██║████╗░████║██╔══██╗████╗░██║██║██║░░░░░██╔══██╗
██║██╔████╔██║███████║██╔██╗██║██║██║░░░░░███████║
██║██║╚██╔╝██║██╔══██║██║╚████║██║██║░░░░░██╔══██║
██║██║░╚═╝░██║██║░░██║██║░╚███║██║███████╗██║░░██║
╚═╝╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═╝░░╚══╝╚═╝╚══════╝╚═╝░░╚═╝
---UNAUTHORIZED ACCESS IS---
------- PROHIBITED! --------
